.bannière
{
padding: auto;
border: solid black;
width: 2153px;
height: 100px;
border-radius: 10px;

}
.menu
{
border: solid black;
width: 30%;
padding: auto;
padding-top: 20px;
float: left;
height: 600px;
border-radius: 10px;
background-color: black;
}
footer {
    clear: both;
    border: 2px solid black;
    height: 150PX;
    border-radius: 10px;

}

.page{
padding: 15px;
border: solid black;
width: 85%;
height: 890px;
float: center;

}
h1{
	text-align: center;
}
h2
{
	text-align: center;
}
.Affichage{
float: right;
border: solid black;
border-radius: 10px;
width: 65%;
height: 620px;


}
.iframe1
{
	width: 80%;
	height: 400px;
	background-color: ;
	border: solid ;
}
.iframe2{
   position :abolute;
   margin: auto;
   float: center;

}
.colo{

color: white;	
}